body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.reason-code {
  background-color: #190b0b;
}

header {
  background-color: #c40000;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 3rem;
}

.map {
  width: 50%;
  height: 80vh;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.398);
}

.delayed {
  width: 50%;
  height: 80vh;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.398);
  overflow: auto;
}

.delayed h1 {
  color:#480101;
  padding: 1rem;
  text-align: left;
  width: 100%;
  height: auto;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.ticket-container {
  width: 50%;
  height: 80vh;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.398);
  overflow: auto;
}

.ticket-container h1 {
  color:#480101;
  padding: 1rem;
  text-align: left;
  width: 100%;
  height: auto;
  font-size: 2rem;
  margin-bottom: 3rem;
}

select {
  width: 80%;
}
table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 50px auto;
  border-radius: .25rem;
}

thead tr:first-child {
  color: #190b0b;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

table .train-columns {
  background-color: #480101;
  color: #fff;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody .train-item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .map,
  .delayed {
    width: 100%;
  }

  .map {
    height: 30vh;
  }
}
